body {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav{
    list-style-type:none;
    padding:5px;
    margin: 0px;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
    background-color:#000;
}

.top-nav li {
    float:left;
    margin-left:1px;
    width:150px;
    height:2em;
}

.top-nav li:first-child{
    margin-left: 0px;
}

.top-nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
}

.top-nav li:hover {
    background-color: #eee;
}

.top-nav li:hover > a {
    color:#09C;
}

.top-nav li > ul {
    display:none;
    list-style-type:none;
    padding:0;
    margin:0;
}

.top-nav li > ul > li > a {
    border-top:1px solid #000;
}

.top-nav li > ul > li {
    background-color:#000;
}

.top-nav li > ul > li:hover {
    background-color:#DDD;
}

.top-nav li > ul > li:hover a {
    color:#09C;
}

.top-nav li:hover > ul {
  display:block;
}

.container {
    padding: 30px;
}

.menu{
    width: 10%;
    padding:0px 20px 0 0;
    float:right;
}

.right-menu{
    margin:0;
    padding:0;
}

.right-menu li {
    margin:0;
    display:block;
    list-style:none;
    padding:10px 14px;
}

.right-menu li a {
    display:block;
}

.right-menu li.selected {
    background:#5993bb;
    border-radius:4px;
}

.right-menu li.selected a {
    color:#fff;
}

.content{
    float:left;
    width: 85%;
    margin-right:-220px;
}

.object-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.object-list .item img {
    width:100%;
    margin-bottom:8px;
}

.object-detail {
    text-align:justify;
}

.object-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.object-detail h1 {
    margin-bottom:0;
}

.object-detail h2 {
    margin-top:10px;
}

/* messages */
.messages {
    margin:10px 100px;
    padding:0;
}




