body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.contener {
    padding: 10px;
}

.object-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.object-list .item img {
    width:100%;
    margin-bottom:8px;
}

.object-detail {
    text-align:justify;
}

.object-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.object-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.object-detail h1 {
    margin-bottom:0;
}

.object-detail h2 {
    margin-top:10px;
}

