<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">
    <title>Numizmatic</title>

</head>
<body>

<div class="topnav">
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="{% url 'category_coins' %}">Category coins</a>
    <a href="{% url 'issuers' %}">Issuers</a>
    {% if user.is_authenticated %}
        <a href="{% url 'add_category' %}">Add Category</a>
        <a href="{% url 'add_designer' %}">Add Designer</a>
        <a href="{% url 'add_issuer' %}">Add Issuer</a>
        <a href="{% url 'add_subject' %}">Add Subject</a>
        <a href="#">Add Coin</a>
        <a href="#">Add Tag</a>
        <a href="#">Logout</a>
    {% else %}
        <a href="#">Login</a>
        <a href="#">Sing Up</a>
    {% endif %}
</div>
{{ user }}
<div class="contener">
    {% block content %}
        {% if user.is_authenticated %}
            Jesteś zalogowany do katalogu monet.
        {% else %}
            Witaj w katalogu monet.

            Aby dodać nowe monety musisz być zalogowany.
        {% endif %}
    {% endblock %}
</div>
{{ date }}
</body>
</html>