<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">
    <title>Numizmatic</title>

</head>
<body>

<div>
    <ol class="top-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'category_coins' %}">Category coins</a>
            <ul>
                {% for obj in categories %}
                    <li><a href="{{ obj.get_absolute_url }}"> {{obj}}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'issuers' %}">Issuers</a></li>
        <li><a href="{% url 'coins' %}">Coins</a></li>
    {% if user.is_authenticated %}
        <li><a href="#">{{ user }}</a>
            <ul>
                <li><a href="{% url 'settings' %}">Settings</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </li>
     {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'sing_up' %}">Sing Up</a></li>
    {% endif %}
    </ol>
</div>

<div class="container">
    {% block title %}
    {% endblock %}
    <section class="menu">
        {% if user.is_authenticated %}
            <ul class="right-menu">Additional options:
                <li><a href="{% url 'add_category' %}">Add Category</a></li>
                <li><a href="{% url 'add_designer' %}">Add Designer</a></li>
                <li><a href="{% url 'add_issuer' %}">Add Issuer</a></li>
                <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
                <li><a href="{% url 'add_coin' %}">Add Coin</a></li>
                <li><a href="{% url 'add_currency' %}">Add Currency</a></li>
            </ul>
        {% endif %}
    </section>
    <section>
        {% block content %}
            {% if user.is_authenticated %}
                Jesteś zalogowany do katalogu monet.
            {% else %}
                Witaj w katalogu monet.

                Aby dodać nowe monety musisz być zalogowany.
            {% endif %}
        {% endblock %}
    </section>
</div>

<footer>
    {{ date }}
</footer>

</body>
</html>