<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">
    <title>Numizmatic</title>

</head>
<body>

<div>
    <ul class="top-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'category_coins' %}">Category coins</a></li>
        <li><a href="{% url 'issuers' %}">Issuers</a></li>
        <li><a href="{% url 'coins' %}">Coins</a></li>
    {% if user.is_authenticated %}
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'sing_up' %}">Sing Up</a></li>
    {% endif %}
    </ul>
</div>

<div class="container">
    <section class="menu">
        {% if user.is_authenticated %}
            <h4>Welcome {{ user }}</h4>
            <div class="right-menu">
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <br/>
            <h4>Additional options:</h4>
            <div class="right-menu">
                <a href="{% url 'add_category' %}">Add Category</a>
                <a href="{% url 'add_designer' %}">Add Designer</a>
                <a href="{% url 'add_issuer' %}">Add Issuer</a>
                <a href="{% url 'add_subject' %}">Add Subject</a>
                <a href="{% url 'add_coin' %}">Add Coin</a>
                <a href="{% url 'add_currency' %}">Add Currency</a>
            </div>
        {% endif %}
    </section>
    <section class="content">
        {% block content %}
            <article>
                {% if user.is_authenticated %}
                    <p>Jesteś zalogowany do katalogu monet.</p>
                {% else %}
                    <p>Witaj w katalogu monet.</p>

                    <p>Aby dodać nowe monety musisz być zalogowany.</p>
                {% endif %}
            </article>
            <article class="list-object-index">
                {% for coin in coins %}
                    {% if coin.id < 4 %}
                    <div class="item">
                        <a href="{{ coin.get_absolute_url }}">
                            <img src='{% if coin.reverse %}{{ coin.reverse.url }}{% else %}
                                        {% static 'img\no_image.png' %}{% endif %}'
                                        alt="rewers monety {{ object.title }}"></a>
                            <a href="{{ coin.get_absolute_url }}"><p>{{ coin.title }}</p></a>
                            <br>
                        </div>
                    {% endif %}
                {% endfor %}
            </article>
        {% endblock %}
    </section>
</div>
</body>
</html>