{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="object-detail item">
    <h5><a href="{% url 'category_coins' %}">Category</a> >><a href="{{ object.category.get_absolute_url }}">
            {{ object.category }}
        </a>
    </h5>
    <h1>{{ object.title }}</h1>
    <h2>Seria: <a href="{{ object.subject.get_absolute_url }}">
            {{ object.subject }}
        </a>
    </h2>
    <img src='{% if object.obverse %}{{ object.obverse.url }}{% else %}
    {% static 'img\no_image.png' %}{% endif %}' alt="awers monety {{ object.title }}">
    <img src='{% if object.reverse %}{{ object.reverse.url }}{% else %}
    {% static 'img\no_image.png' %}{% endif %}' alt="rewers monety {{ object.title }}">
    <h4>Emitent: <a href="{{ object.issuer.get_absolute_url }}">
            {{ object.issuer }}
        </a>
    </h4>
    <h4>
        Projekt: {% for obj in object.designer.all %} | {{ obj }} |{% endfor %}
    </h4>

    <p>Opis: {{ object.description|linebreaks }}</p>
    <p>Nominał :{{ object.face_value }}</p>
    <p>Typ stemþla: {{ object.stamp }}</p>
    <p>Stop: {{ object.attempt }}</p>
    <p>Data emisji: {{ object.issue_date }}</p>
    <p>Nakład: {{ object.circulation }} szt. </p>
    <p>Rozmiar: {{ object.dimension }}mm</p>
    <p>Waga: {{ object.scales }}g</p>
    <p>Uwagi: {{ object.remarks }}</p>
</section>
    {% if user.is_authenticated %}
    <div>
        <a class="btn btn-info" href="{{ object.get_update_url }}">Edytuj</a>
        <a class="btn btn-danger" href="{{ object.get_delete_url }}">Usuń</a>
    </div>
    {% endif %}
{% endblock %}