{% extends 'base.html' %}
{% block content %}
    <form method="post" class="form_class" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit">
    </form>
    {% if messages %}
        <p class="messages">
            {% for message in messages %}
                    {{ message|safe }}
            {% endfor %}
        </p>
    {% endif %}

    <h4>Entered values:</h4>
    <ul class="object-list-content bonus">
    {% for obj in objects %}
        <li>{{obj}}</li>
    {% endfor %}
    </ul>
{% endblock %}