{% extends 'base.html' %}
{% block content %}
    <div>
        <p>
            <strong>Imię: </strong>{{ user.first_name }}
            <br />
            <strong>Nazwisko: </strong>{{ user.last_name }}
            <br />
            <strong>Adres e-mail: </strong>{{ user.email }}
            <br />
            <strong>Nazwa użytkownika: </strong>{{ user.username }}
        </p>
    </div>
    {% if user.is_authenticated %}
    <div>
        <a class="btn btn-info" href="{% url 'change_data' %}">Zmień dane</a>
        <a class="btn btn-danger" href="{% url 'change_password' %}">Zmień hasło</a>
    </div>
    {% endif %}
    <hr>
{% endblock %}